[user]
	email = dikpaal@icloud.com
	name = dikpaal
[http]
	postBuffer = 524288000
	version = HTTP/1.1
	sslBackend = openssl
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
